div.chatBoxMessages {
    height: 70%;
}

div.chatBoxMessages.jumbotron {
    background: none;
    padding:0 20px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.2) inset;
    border-radius: 0;
    transition: .5s;
}